version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "11:30"
      timezone: "America/Los_Angeles"
    open-pull-requests-limit: 5
    assignees:
      - Adam-Robson  
    commit-message:
      prefix: "chore(deps):"
      prefix-development: "chore(dev-deps):"
    labels:
      - "dependencies"
      - "automated-pr"
    ignore:
      - dependency-name: "react"
        update-types: ["version-update:semver-major"]
      - dependency-name: "react-dom"
        update-types: ["version-update:semver-major"]
      - dependency-name: "next"
        update-types: ["version-update:semver-major"]
      - dependency-name: "typescript"
        update-types: ["version-update:semver-major"]


  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "tuesday"
      time: "10:00"
      timezone: "America/Los_Angeles"
    open-pull-requests-limit: 2
    assignees:
      - "Adam-Robson"
    commit-message:
      prefix: "chore(actions):"
    labels:
      - "dependencies"
      - "github-actions"
      - "automated"
