.audio-page {
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 1rem;
  background: var(--primary);
}

.home-link {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.audio-player-container,
.audio-player {
  height: 15vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: color-mix(in srgb, var(--background) 80%, #fff 20%);
  border-top: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
