name: Node.js CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: read
  
env:
  CI: true
  NODE_VERSION: "20.x"

jobs:
  ci:
    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        node-version:  [22.x, 20.x, 18.x]

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      
      - name: deps
        run: npm ci

      - name: lint
        run: npm run lint

      - name: test
        run: npm test
